.container {
    display: flex;
}

aside {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
    margin-right: 20px;
}

aside p {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    margin-bottom: 10px;
    cursor: pointer;
}

aside a:hover {
    background-color: #ddd;
}

.content {
    flex-grow: 1;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

table {
    border-collapse: collapse;
    width: 100%;
}


thead tr {
    background-color: #E4E7E9;
}

th {
    padding: 10px;
    text-align: left;
    color: #475156;
    font-weight: 400;
    text-transform: uppercase;
}

td {
    padding: 20px;
}

.orders h2 {
    margin-bottom: 20px;
}